/* Card general */
.evento-card,
.usuario-card {
  background-color: #fff;
  border-radius: 12px;
  padding: 1.5rem 2rem;
  margin: 1rem auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  max-width: 700px;
}

.crear-evento,
.donacion-form,
.evento-actions,
.editar-evento-form {
  input,
  select {
    padding: 0.6rem;
    margin: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: 0.2s;
  }
  button {
    margin: 0.5rem;
    padding: 0.6rem 1.2rem;
    background-color: #0b3d91;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 0.4rem 0.8rem;
    cursor: pointer;
    font-size: 0.85rem;
    transition: background-color 0.2s;
  }
  button:hover {
    background-color: #092b6b;
  }
}

.evento-btn button {
  margin: 0.5rem;
  padding: 0.6rem 1.2rem;
  background-color: aliceblue;
  border: 1px solid #0b3d91;
  color: #0b3d91;
  border-radius: 6px;
  padding: 0.4rem 0.8rem;
}
button:hover {
  background-color: #a1c9eb;
}

/* Títulos */
.section-title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
  text-align: center;
}

/* Listas */
.evento-list,
.usuario-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Items */
.evento-item {
  background-color: #f9fafb;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  padding: 1rem 1.2rem;
  margin-bottom: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Evento específico */
.evento-header {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.evento-date {
  color: #888;
  font-size: 0.9rem;
}

.evento-desc {
  margin-top: 0.8rem;
  padding: 0.6rem 0.8rem;
  background-color: #fff;
  border-left: 4px solid #0b3d91;
  border-radius: 4px;
  color: #333;
  font-size: 0.95rem;
  line-height: 1.4;
  white-space: pre-wrap;
}

.participantes-list {
  list-style: none;
  padding: 0;
  margin: 0.8rem 0 0 0;
  background-color: #f9fafb;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
}

.participantes-list li {
  padding: 0.6rem 1rem;
  border-bottom: 1px solid #e5e7eb;
  color: #1f2937;
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: background-color 0.2s ease;
}
.participantes-list li:hover {
  background-color: #eef3fb;
}

/* Usuario específico */
.usuario-nombre {
  font-weight: 600;
  color: #333;
}

.usuario-rol {
  margin-left: 0.5rem;
  color: #61dafb;
  font-weight: 500;
}

.usuario-email {
  font-size: 0.9rem;
  color: #555;
}
